@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');


*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
      --red-color: #be3144;
      --white-color: #f0f0f0;
}
#navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--red-color);
      color: var(--white-color);
}
.brand-name {
      font-size: 40px;
      font-family: 'Comic Neue', cursive;
      margin: 1rem;
}
.profile-link ul {
      margin: 0;
      padding: 0;
      display: flex;
}
.profile-link li {
      list-style: none;
}
.profile-link li a:hover {
      background-color: #44567C;
}
.profile-link li a {
      text-decoration: none;
      display: block;
      padding: 1.2rem;
      color: var(--white-color);
      font-family: 'Poppins', sans-serif;
      font-size: 26px;
}

/* TOGGLE BUTTON */

.toggle-button {
      position: absolute;
      top: 1.5rem;
      right: 2rem;
      display: none;
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      height: 21px;
}
.toggle-button .bar {
      height: 3px;
      width: 100%;
      background-color: var(--white-color);
      border-radius: 10px;
}      
section {
  width: 100%;
}
#welcome-section {
  height: 630px;
  background: #232324;
}
.about {
  color: var(--white-color);
  font-family: 'Raleway', sans-serif;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 45%;
  border-right: 2px solid var(--red-color);
  white-space: nowrap;
  overflow: hidden;
  width: 740px;
  /* transform: translateY(-50%) */
}
.fa-face-smile-wink{
    font-size: 55px;
}

/* TYPEWRITER ANIMATION */

.anim-typewriter {
      animation: typewriter 3s steps(30) 1s 1 normal both,
      BlinkTextCursor 400ms steps(30) infinite normal;
}

@keyframes typewriter {
      from { 
            width: 0;
      }
      to {
            width: 740px;
      }
}

@keyframes BlinkTextCursor {
      from {
            border-right-color: var(--red-color);
      }
      to {
            border-right-color: transparent;
      }
}

/* TEXT GRADIENT */

.name {
  font-weight: 800;
  background: linear-gradient(180deg, var(--white-color) 1%, var(--red-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.name:hover {
  background: var(--red-color);
  color: var(--white-color);
  -webkit-background-clip: text;
}
.work {
  display: block;
  font-size: 30px;
  font-weight: 200;
  color: var(--red-color);
  text-align: center;
  font-family: 'Raleway', sans-serif;

}
#projects {
  background: #44567C;
  height: auto;
  overflow: auto;
  text-align: center;
}
.heading {
  color: var(--white-color);
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  font-weight: bold;
  text-decoration: underline;
  position: relative;
  top: 60px;
}
.project-image {
  width: 100%;
  height: calc(100% - 3.8rem);
  object-fit: cover;
}
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: 500px;
    grid-gap: 45px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    top: 8rem;
    padding: 0 45px 0 45px;
    transition: all 400ms ease-in;
}
img:hover{
      transform: scale(1.01);
      opacity: 0.7;
}
.project-tile {
      text-decoration: none;
      color: var(--white-color);
      font-family: 'Poppins', sans-serif;
      font-size: 20px;
      font-weight: 400;
      background-color: #303841;
      border-radius: 0 0 5px 5px;
}
.image-text {
      margin-top: 5px;
      text-align: center;
      transition: image 400ms ease-in;
}
.project-tile:hover .code {
      color: #ff7f50;
}
.code {
      color: #303841;
      transition: color 0.3s ease-out;
}
button {
      background-color: #303841;
      width: 150px;
      height: 50px;
      position: relative;
      top: 170px;
      color: var(--white-color);
      border: none;
      font-family: 'Poppins', sans-serif;
      font-size: 20px;
      font-weight: 400;
}
button:hover {
      background-color: var(--red-color);
      transition: color 1s ease-out;
      transition-delay: 1s;
}
.fa-right-long {
      font-size: 20px;
      position: relative;
      left: 4px;
}
button:hover .fa-right-long{
      position: relative;
      left: 8px;
}
.space {
      width: 100%;
      height: 210px;
}
#contact {
      background: #303841;
      width: 100%;
      height: 550px;
}
.social-icon {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
      justify-items: center;
      padding-top: 20px;

}
i {
      color: var(--white-color);
      font-family: 'Poppins', sans-serif;
      font-size: 70px;
      font-weight: 400;
}
i:hover {
      color: var(--red-color);
}
.contact-text {
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      font-size: 60px;
      text-align: center;
      color: var(--white-color);
      padding-top: 13.75%;
}
.connect {
      font-family: 'Poppins', sans-serif;
      font-size: 18px;
      font-weight: 100;
      text-align: center;
      color: var(--white-color);

}
.before-footer {
      width: 100%;
      height: 5px;
      background-color: var(--red-color);
}
footer {
      width: 100%;
      height: 80px;
      background: #303841;

}
footer > p {
      font-family: 'Poppins', sans-serif;
      font-size: 18px;
      font-weight: 300;
      text-align: center;
      color: var(--white-color);
      padding-top: 30px;
}
.copyright {
      padding-left: 250px;
}



@media (max-width: 500px) {
      .about, i {
            font-size: 35px;
      }
      .fa-face-smile-wink{
        font-size: 30px;
    }
      #contact {
            height: 350px;
      }
      .contact-text {
            font-size: 35px;
            padding-top: 30%;
      }
      .anim-typewriter {
      animation: typewriter 3s steps(20) 1s 1 normal both,
      BlinkTextCursor 400ms steps(20) infinite normal;
}
@keyframes typewriter {
      from { 
            width: 0;
      }
      to {
            width: 380px;
      }
}

@keyframes BlinkTextCursor {
      from {
            border-right-color: var(--red-color);
      }
      to {
            border-right-color: transparent;
      }
}
      .work {
            font-size: 20px;
      }
      .heading {
            font-size: 25px;
      }
      .connect {
            font-size: 12px;
      }
      footer > p {
            font-size: 10px;
      }
      .copyright {
            padding-left: 15px;
      }
      
      /* TOGGLE BUTTON MEDIA QUERY */
      .toggle-button {
            display: flex;
      }
      .profile-link {
            display: none;
            width: 100%;
      }
      #navbar {
            flex-direction: column;
            align-items: flex-start;
      }
      .profile-link ul {
            flex-direction: column;
            width: 100%;
      }
      .profile-link li {
            text-align: center;
      }
      .profile-link li a {
            padding: .4rem .9rem;
      }
      .profile-link.active {
            display: flex;
      }
      
}